<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDehpSgAAzHEjzlJ7MXK5m8KuOA-K533tY</string>
	<key>GCM_SENDER_ID</key>
	<string>612442301144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suuq.prod</string>
	<key>PROJECT_ID</key>
	<string>suuq-4b572</string>
	<key>STORAGE_BUCKET</key>
	<string>suuq-4b572.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612442301144:ios:bf1184fd3e24fc43332dad</string>
</dict>
</plist>